header {
  height: 100vh;
  padding-top: 9rem;
  overflow: hidden;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  text-align: center;
  height: 100%;
  position: relative;
}

.coding {
  width: 300px;
  height: 200px;
  border-radius: 1rem;
}
/* ====================CTA==================*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/* ====================SOCIALS==================*/

.header_socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 0.8rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ====================ME==================*/

/* ====================SCROLL DOWN==================*/
.two-arrows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.scroll-up {
  position: fixed;
  right: 2.3rem;
  bottom: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
  z-index: 2;
}
.scroll-down {
  position: fixed;
  right: 2.3rem;
  bottom: 5rem;
  font-weight: 300;
  font-size: 2rem;
  z-index: 2;
}

.scroll-icon {
  color: var(--color-light);
}

/* =============  MEDIA QUERIES(MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}
/* =============  MEDIA QUERIES(SMALLER DEVICES) ========== */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header_socials {
    display: none;
  }
  .scroll-up {
    bottom: 0rem;
    right: 1rem;
  }

  .scroll-down {
    bottom: 4rem;
    right: 1rem;
  }
  .scroll-down,
  .scroll-up {
    font-size: 1.5rem;
  }
  .coding {
    margin-top: -3rem;
  }
}
@media screen and (max-width: 800px) {
  .header_container {
    flex-direction: column;
  }
  header {
    margin-top: -4rem;
  }
}
